{
  "presets": [
    [
      "@babel/env",
      {
        "debug": true,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "IE >= 9"]
        }
      }
    ],
    "@babel/preset-flow"
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}
